@page
@model DaoMinhTri_NET1606_A03_UI.Pages.RentingTransactions.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>RentingTransaction</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="RentingTransaction.RentingTransationId" class="control-label"></label>
                <input asp-for="RentingTransaction.RentingTransationId" class="form-control" />
                <span asp-validation-for="RentingTransaction.RentingTransationId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RentingTransaction.RentingDate" class="control-label"></label>
                <input asp-for="RentingTransaction.RentingDate" class="form-control" />
                <span asp-validation-for="RentingTransaction.RentingDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RentingTransaction.TotalPrice" class="control-label"></label>
                <input asp-for="RentingTransaction.TotalPrice" class="form-control" />
                <span asp-validation-for="RentingTransaction.TotalPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RentingTransaction.CustomerId" class="control-label"></label>
                <select asp-for="RentingTransaction.CustomerId" class ="form-control" asp-items="ViewBag.CustomerId"></select>
            </div>
            <div class="form-group">
                <label asp-for="RentingTransaction.RentingStatus" class="control-label"></label>
                <input asp-for="RentingTransaction.RentingStatus" class="form-control" />
                <span asp-validation-for="RentingTransaction.RentingStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
